.blackStepLabel {
    color: white !important
}

.blackStepLabelBold {
    color: white !important;
    font-weight: bold !important;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.portField {
    width: 65px !important;
}

.addrField {
    width: calc(100% - 130px) !important;
}

.protocolField {
    width: 65px !important;
}
